{% extends 'base.html' %}

{% block head %}
<title>HMSE | Simulation {{ metadata.project_name }}</title>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.min.css"/>
<link rel="stylesheet" href="{{ endpoint_prefix }}/static/css/currentProject.css">
<link rel="stylesheet" href="{{ endpoint_prefix }}/static/css/layout.css">
<link rel="stylesheet" href="{{ endpoint_prefix }}/static/css/shapes.css">
<link rel="stylesheet" href="{{ endpoint_prefix }}/static/css/uploadModflow.css">
<link rel="stylesheet" href="{{ endpoint_prefix }}/static/css/uploadHydrus.css">
<link rel="stylesheet" href="{{ endpoint_prefix }}/static/css/projectDetails.css">
<link rel="stylesheet" href="{{ endpoint_prefix }}/static/css/simulation.css">
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js"></script>
<script src="{{ endpoint_prefix }}/static/js/projectFinished.js"></script>
<script src="{{ endpoint_prefix }}/static/js/projectManageHydrus.js"></script>
<script src="{{ endpoint_prefix }}/static/js/projectManageModflow.js"></script>
<script src="{{ endpoint_prefix }}/static/js/projectManageWeatherFiles.js"></script>
<script src="{{ endpoint_prefix }}/static/js/defineShapes.js"></script>
<script src="{{ endpoint_prefix }}/static/js/rchShapes.js"></script>
<script src="{{ endpoint_prefix }}/static/js/simulation.js"></script>
<script src="{{ endpoint_prefix }}/static/js/mappings.js"></script>
<script src="{{ endpoint_prefix }}/static/js/shapes.js"></script>
<script src="{{ endpoint_prefix }}/static/js/projectDetails.js"></script>
<script src="{{ endpoint_prefix }}/static/js/uiUtils.js"></script>
<script src="{{ endpoint_prefix }}/static/js/projectMetadata.js"></script>
<script src="{{ endpoint_prefix }}/static/js/simulationChapter.js"></script>
<script src="{{ endpoint_prefix }}/static/js/simulationStage.js"></script>
<script src="{{ endpoint_prefix }}/static/js/zbShapes.js"></script>
<script type="text/javascript">
    fillProjectConfig('{{ metadata.project_id }}');
</script>
{% endblock %}

{% block body %}
<div class="container-fluid mt-5" id="configuration-content">
    <div class="col justify-content-md-center">
        <div style="display: flex; justify-content: end">
            <button id="renameProjectButton" type="button" class="btn btn-secondary"
                        data-toggle="modal" data-target="#modalRenameProject">
                Rename project
            </button>
        </div>
        <div class="justify-content-md-center">
            <div class="text-center">
                <h1 id="projectNameDisplay" class="display-4">Simulation for project: {{ metadata.project_name }}</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <a type="button" id="downloadReadyProject" hidden class="btn btn-success btn-lg"
               href="Test data"> Results
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="row justify-content-center">
                <div class="config-labels justify-content-center">
                    <div class="justify-content-center">
                        <div>
                            <div style="display: flex; justify-content: begin">
                                <button type="button" class="btn btn-outline-secondary"
                                        data-toggle="modal" data-target="#modalHelpModflow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </button>
                            </div>
                            <h3 style="text-align: center">Modflow model</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ">
                                <span class="slice-column left">Modflow model</span>
                                <span id="modflowModelId" class="slice-column right">
                                    {{ metadata.modflow_metadata.modflow_id if metadata.modflow_metadata else 'None' }}
                                </span>
                            </li>
                            <li id="modflowModelGridSize" class="list-group-item"
                                {{ 'hidden' if not metadata.modflow_metadata }}>
                                <span class="slice-column left">Grid size</span>
                                <span id="modflowModelGridSizeContent" class="slice-column right">
                                    {{ modflow_model_height }} {{ metadata.modflow_metadata.grid_unit }} x
                                    {{ modflow_model_width }} {{ metadata.modflow_metadata.grid_unit }}
                                </span>
                            </li>
                            <li id="modflowModelGridCells" class="list-group-item" {{
                            'hidden' if not metadata.modflow_metadata }}>
                                <span class="slice-column left">Grid cells</span>
                                <span id="modflowModelGridCellsContent" class="slice-column right">
                                    {{ metadata.modflow_metadata.rows }} cells x {{ metadata.modflow_metadata.cols }} cells
                                </span>
                            </li>
                            <li id="modflowModelDuration" class="list-group-item" {{
                            'hidden' if not metadata.modflow_metadata }}>
                                <span class="slice-column left">Model duration</span>
                                <span id="modflowModelDurationContent" class="slice-column right">
                                    {{ metadata.modflow_metadata.get_duration()|string + ' days' if metadata.modflow_metadata }}
                                </span>
                            </li>


                            <li class="list-group-item">
                                <span class="slice-column left">Start date</span>
                                <input id="metadataStartDate" class="slice-column right text-standard" type="date"
                                       disabled
                                       onchange="changeColorToUpdated('metadataStartDate')"
                                       value="{{ metadata.start_date }}"/>
                            </li>
                            <li class="list-group-item ">
                                <span class="slice-column left">End date</span>
                                    <span id="metadataEndDate" class="slice-column right">
                                    {{ end_date }}
                                </span>
                            </li>
                            <li class="list-group-item ">
                                <span class="slice-column left">Latitude</span>
                                <input id="metadataLat" class="slice-column right text-standard" type="number" disabled
                                       onchange="changeColorToUpdated('metadataLat')" value="{{ metadata.lat }}"/>
                            </li>
                            <li class="list-group-item ">
                                <span class="slice-column left">Longitude</span>
                                <input id="metadataLong" class="slice-column right text-standard" type="number" disabled
                                       onchange="changeColorToUpdated('metadataLong')" value="{{ metadata.long }}"/>
                            </li>

                            <li class="list-group-item" id="modflowUpload">
                                <div class="button-spacing button-edit">
                                    <button id="modflowUploadBtn" type="button" class="btn btn-success left"
                                            onClick="openModflowDialog()">{{ 'Change' if metadata.modflow_metadata else
                                        'Upload' }}
                                    </button>

                                    <button id="modflowEditConfigDetails" type="button" class="btn btn-secondary"
                                            onclick="enterModflowEditMode()">
                                        Edit Configuration
                                    </button>
                                    <button id="modflowSubmitConfigDetails" hidden type="button" class="btn btn-success"
                                            onclick="submitModflowConfigDetails('{{ metadata.project_id }}')">
                                        Submit
                                    </button>
                                    <button id="modflowCancelConfigDetails" hidden type="button" class="btn btn-danger"
                                            onclick="cancelModflowConfigEdit()">
                                        Cancel
                                    </button>

                                    <button id="modflowRemoveBtn" type="button" class="btn btn-danger right"
                                            {{ 'hidden' if not metadata.modflow_metadata }}
                                    onClick="deleteModflowModel('{{ metadata.project_id }}')">Remove
                                    </button>
                                </div>

                                <input type="file" id="modflowUploadInput" accept=".zip" hidden
                                       onchange="sendModflowModelAfterSelected('{{ metadata.project_id }}')">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="config-labels-1">
                    <div class="slice-column left">
                        <div>
                            <div style="display: flex; justify-content: begin">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-toggle="modal" data-target="#modalHelpHydrus">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </button>
                            </div>
                            <h3 style="text-align: center">Hydrus configuration</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item ">
                                    <div class="slice-column left">
                                        <span>Spin-up</span>
                                        <div class="slice-column right">
                                            <input id="metadataSpinUp" class="text-standard" type="number"
                                               disabled
                                               onchange="changeColorToUpdated('metadataSpinUp')"
                                               value="{{ metadata.spin_up }}"/>
                                        </div>
                                    </div>
                                    <div class="slice-column right">
                                        <button id="hydrusEditConfigDetails" type="button"
                                                class="btn btn-secondary right"
                                                onClick="enterHydrusEditMode()">
                                            Edit
                                        </button>

                                        <button id="hydrusCancelConfigDetails" hidden type="button"
                                                class="btn btn-danger right"
                                                onClick="cancelHydrusConfigEdit()">
                                            Cancel
                                        </button>

                                        <button id="hydrusSubmitConfigDetails" hidden type="button"
                                                class="btn btn-success right"
                                                onclick="submitHydrusConfigDetails('{{ metadata.project_id }}')">
                                            Submit
                                        </button>
                                    </div>
                                </li>
                            </ul>

                            <h3 style="text-align: center; margin-top: 40px">Hydrus models</h3>
                        </div>
                        <ul class="list-group list-group-flush" id="hydrusModelList">
                            {% for hydrus_id in metadata.hydrus_models %}
                            <li class="list-group-item row-entries" id="hydrus{{ hydrus_id }}">
                                <span class="slice-column left">
                                    {{ hydrus_id }}
                                    <span class="slice-column right">

                                    </span>
                                </span>
                                <span class="slice-column right">
                                    <span class="slice-column left">
                                        <select id="selectWeather{{ hydrus_id }}" class="custom-select left"
                                                onclick="setWeatherSelectOptions('{{ hydrus_id }}')"
                                                onchange="sendWeatherMapping('{{ metadata.project_id }}', '{{ hydrus_id }}')">
                                        </select>
                                        <script>
                                            setWeatherSelectOptions('{{ hydrus_id }}')
                                        </script>
                                    </span>

                                    <button type="button" class="btn btn-danger right"
                                            onClick="deleteHydrus('{{ metadata.project_id }}', '{{ hydrus_id }}')">Remove</button>
                                </span>
                            </li>
                            {% endfor %}
                            <li class="list-group-item" id="hydrusUpload">
                                <span class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-success right"
                                            onClick="openHydrusDialog()">Upload</button>
                                </span>
                                <input type="file" id="hydrusUploadInput" accept=".zip" hidden
                                       onchange="sendHydrusModelAfterSelected('{{ metadata.project_id }}')">
                            </li>
                        </ul>
                    </div>
                    <div class="slice-column right">
                        <div>
                            <div style="display: flex; justify-content: begin">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-toggle="modal" data-target="#modalHelpWeather">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </button>
                            </div>
                            <h3 style="text-align: center">Weather files</h3>
                        </div>
                        <ul class="list-group list-group-flush" id="weatherFileList">
                            {% for weather_id in metadata.weather_files %}
                            <li class="list-group-item" id="weather{{ weather_id }}">
                                <span class="slice-column left">{{ weather_id }}</span>
                                <span class="slice-column right">
                                    <button type="button" class="btn btn-danger right"
                                            onClick="deleteWeatherFile('{{ metadata.project_id }}', '{{ weather_id }}')">Remove</button>
                                </span>
                            </li>
                            {% endfor %}
                            <li class="list-group-item" id="weatherUpload">
                                <span class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-success right"
                                            onClick="openWeatherFileDialog()">Upload</button>
                                </span>
                                <input type="file" id="weatherFileUploadInput" accept=".csv" hidden
                                       onchange="sendWeatherFileAfterSelected('{{ metadata.project_id }}')">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="shape-editing-field">
                    <div class="slice-column left">
                        <div>
                            <div style="display: flex; justify-content: begin">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-toggle="modal" data-target="#modalHelpShapes">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </button>
                            </div>
                            <h3 style="text-align: center">Shapes</h3>
                        </div>
                        <ul class="list-group list-group-flush" id="shapeList">
                            {% for shape_id, color in metadata.shapes.items() %}
                            <script type="text/javascript">
                                createCssClassForShape('{{ shape_id }}', '{{ color }}');
                            </script>
                            <li class="list-group-item" id="shape{{ shape_id }}">
                                <div class="slice-column left">
                                    <div class="slice-column left" id="shapeName{{ shape_id }}">{{ shape_id }}</div>
                                    <div class="slice-column left">
                                        <div id="colorPicker{{ shape_id }}" class="slice-column left">
                                            <span class="input-group-append">
                                                <span class="input-group-text colorpicker-input-addon">
                                                    <i></i>
                                                    <input id="colorInputField{{ shape_id }}" type="text"
                                                           class="form-control input-lg"
                                                           hidden onchange="changeShapeColor('{{ shape_id }}')">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        $('#colorPicker{{ shape_id }}').colorpicker({"color": "{{ color }}",
                                                                                    useAlpha: false});
                                        deactivateShapeEditMode(jQuery, '{{ shape_id }}');
                                    });
                                </script>
                                <span class="slice-column right">
                                    <span class="slice-column left">
                                        <select id="selectHydrus{{ shape_id }}" class="custom-select"
                                                onclick="setSelectOptions('{{ shape_id }}')"
                                                onchange="checkForManualOption('{{ shape_id }}')" disabled>
                                            <script>
                                                setSelectOptions('{{ shape_id }}');
                                            </script>
                                        </select>
                                        <input id="manualValue{{ shape_id }}" value="0" type="number"
                                               class="form-control input-lg" hidden disabled>
                                    </span>

                                    <button id="removeShapeButton{{ shape_id }}" type="button"
                                            class="btn btn-danger right"
                                            onClick="deleteShape('{{ metadata.project_id }}', '{{ shape_id }}')">Remove</button>
                                    <button id="editShapeButton{{ shape_id }}" type="button"
                                            class="btn btn-secondary right"
                                            onClick="activateShapeEditMode(jQuery, '{{ shape_id }}')">Edit</button>
                                    <button id="cancelShapeEditButton{{ shape_id }}" hidden type="button"
                                            class="btn btn-danger right"
                                            onclick="deactivateShapeEditMode(jQuery, '{{ shape_id }}', true)">
                                        Cancel
                                    </button>
                                    <button id="submitShapeEditButton{{ shape_id }}" hidden type="button"
                                            class="btn btn-success right"
                                            onclick="sendShape('{{ metadata.project_id }}', '{{ shape_id }}')">
                                        Submit
                                    </button>
                                </span>
                            </li>
                            {% endfor %}
                            <li class="list-group-item" id="newShape">
                                <div class="button-spacing">
                                    <button id="newShapeButton" type="button" class="btn btn-success right"
                                            onclick="addNewListEntry(jQuery, '{{ metadata.project_id }}')">
                                        New shape
                                    </button>
                                    <button id="genRchShapes" type="button" class="btn btn-primary right"
                                            onclick="requestRechargeShapes('{{ metadata.project_id }}')">
                                        Generate RCH shapes
                                    </button>
                                    <button id="uploadZbShapes" type="button" class="btn btn-info right"
                                            onclick="openZbShapesUploadDialog()">
                                        Upload ZoneBudget shapes
                                    </button>
                                    <input type="file" id="zbZonesInput" accept=".zb,.zb_zones" hidden
                                       onchange="sendZbZonesAfterSelected('{{ metadata.project_id }}')">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="slice-column right shape-container-1">
                        <div>
                            <div style="display: flex; justify-content: begin">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-toggle="modal" data-target="#modalHelpGrid">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="row justify-content-center my-4">
                                <div class="col-2-auto mx-2"><h4>Brush Size</h4></div>
                                <div class="col-2-auto">
                                    <select id="brush-size" class="form-control form-control-sm">
                                        <option selected value="0">1x1</option>
                                        <option value="1">3x3</option>
                                        <option value="2">5x5</option>
                                        <option value="3">7x7</option>
                                        <option value="4">9x9</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="shape-container-2">
                            <table class="shape-grid" id="modelGridTable">
                                <tbody>
                                {% if metadata.modflow_metadata %}
                                {% for row in range(metadata.modflow_metadata.rows) %}
                                <tr class="cell-row"
                                    style="height: {{ metadata.modflow_metadata.row_cells[row] }}vw !important; padding:0 !important;">
                                    {% for col in range(metadata.modflow_metadata.cols) %}
                                    <td class="cell border border-1"
                                        id="{{ 'cell_' + row|string + '_' + col|string }}"
                                        style="width: {{ metadata.modflow_metadata.col_cells[col] }}vw !important; padding:0 !important;">
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                <script>
                                        initCurrentShapes('{{ metadata.project_id }}');
                                </script>
                                {% endif %}
                                </tbody>
                            </table>
                            <div class="text-center" id="cursorGridCoords">
                                Cursor outside the grid
                            </div>
                            <script>
                                setupGridSettings(jQuery, null);
                            </script>
                        </div>
                    </div>
                </div>
                <div class="simulation-section">
                    <div class="container my-5 justify-content-center">
                        <div class="text-center justify-content-center">
                            <p class="lead">Click "Run simulation" once you're ready to start it.</p>
                        </div>
                    </div>
                    <div class="container my-5 justify-content-center text-center">
                        <h4>Select simulation mode</h4>
                        <select id="simulationMode" class="custom-select container my-6 small-select"
                                onchange="updateSimulationMode('{{ metadata.project_id }}')">
                            <option {% if metadata.simulation_mode == 'SIMPLE_COUPLING' %} selected {% endif %}
                                value="SIMPLE_COUPLING">Simple coupling (no feedback loop)</option>
                            <option {% if metadata.simulation_mode == 'WITH_FEEDBACK' %} selected {% endif %}
                                value="WITH_FEEDBACK">Feedback loop</option>
                        </select>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" id="start-simulation" class="btn btn-primary right"
                                onclick="runSimulation('{{ metadata.project_id }}')">
                            Run simulation
                        </button>
                    </div>
                    <div class="container my-5 justify-content-center" id="simulationInfo">
                        <script>
                            initGrid();
                        </script>
                    </div>
                    <div class="row justify-content-center">
                        <a type="button" id="downloadProjectBtn" class="btn btn-success mx-5 my-2"
                           {% if not metadata.finished %} hidden {% endif %}
                           href="{{ url_for('projects.project_download', project_id=metadata.project_id) }}">Download
                            Results</a>
                    </div>
                    <div style="height: 200px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modals-->
{% include 'editProjectModals.html' %}

{% endblock %}
