{% extends 'base.html' %}
{% block current_project_active %}active{% endblock %}

{% block head %}
<title>HMSE | Simulation Test project merged</title>
<link rel="stylesheet" href="/static/css/currentProject.css">
<link rel="stylesheet" href="/static/css/commonUi.css">
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/uploadModflow.css">
<link rel="stylesheet" href="/static/css/uploadHydrus.css">
<link rel="stylesheet" href="/static/css/projectDetails.css">
{% endblock %}

{% block scripts %}
<script src="/static/js/projectFinished.js"></script>
<script src="/static/js/currentProject.js"></script>
<script src="/static/js/projectManageHydrus.js"></script>
<script src="/static/js/projectManageModflow.js"></script>
<script src="/static/js/projectManageWeatherFiles.js"></script>
<script src="/static/js/defineMethod.js"></script>
<script src="/static/js/defineShapes.js"></script>
<script src="/static/js/simulation.js"></script>
<script src="/static/js/shapes.js"></script>
<script src="/static/js/projectDetails.js"></script>
<script src="/static/js/uiUtils.js"></script>
<script src="/static/js/projectMetadata.js"></script>
<script type="text/javascript">
    fillProjectConfig('{{ metadata.project_id }}');
</script>
{% endblock %}

{% block body %}
<div class="container mt-5" id="configuration-content">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="text-center">
                <h1 class="display-4">Simulation for project: {{ metadata.project_name }}</h1>
                <!--                TODO: Not the smartest move-->
                <div id="thisProjectId" hidden>{{ metadata.project_id }}</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <a type="button" id="downloadReadyProject" hidden class="btn btn-success btn-lg"
               href="Test data"> Results
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-9">
                <div class="config-labels">
                    <h3 style="text-align: center">Project Configuration</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">
                            <span class="slice-column left">Project Name</span>
                            <span id="metadataProjectName" class="slice-column right text-standard"
                                  onkeydown="changeColorToUpdated('metadataProjectName')">{{ metadata.project_name }}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="slice-column left">Start Date</span>
                            <span id="metadataStartDate" class="slice-column right text-standard"
                                  onkeydown="changeColorToUpdated('metadataStartDate')">{{ metadata.start_date }}</span>
                        </li>
                        <li class="list-group-item ">
                            <span class="slice-column left">End Date</span>
                            <span id="metadataEndDate" class="slice-column right text-standard"
                                  onkeydown="changeColorToUpdated('metadataEndDate')">{{ metadata.end_date }}</span>
                        </li>
                        <li class="list-group-item ">
                            <span class="slice-column left">Latitude</span>
                            <span id="metadataLat" class="slice-column right text-standard"
                                  onkeydown="changeColorToUpdated('metadataLat')">{{ metadata.lat }}</span>
                        </li>
                        <li class="list-group-item ">
                            <span class="slice-column left">Longitude</span>
                            <span id="metadataLong" class="slice-column right text-standard"
                                  onkeydown="changeColorToUpdated('metadataLong')">{{ metadata.long }}</span>
                        </li>
                        <li class="list-group-item ">
                            <span class="slice-column left">Spin Up </span>
                            <span id="metadataSpinUp" class="slice-column right text-standard"
                                  onkeydown="changeColorToUpdated('metadataSpinUp')">{{ metadata.spin_up }}</span>
                        </li>
                    </ul>
                    <div class="button-edit">
                        <span class="right">
                            <a id="editConfigButton" type="button" class="btn btn-secondary" onclick="enterEditMode()">
                                Edit Configuration
                            </a>
                            <a id="cancelEditConfigButton" hidden type="button" class="btn btn-danger"
                               onclick="cancelConfigEdit()">
                                Cancel
                            </a>
                            <a id="submitConfigButton" hidden type="button" class="btn btn-success"
                               onclick="submitConfig('{{ metadata.project_id }}')">
                                Submit
                            </a>
                        </span>
                    </div>
                </div>
                <div class="config-labels">
                    <h3 style="text-align: center">Modflow model</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">
                            <span class="slice-column left">Modflow Model</span>
                            <span id="modflowModelId" class="slice-column right">{{ metadata.modflow_metadata.modflow_id if metadata.modflow_metadata else 'None' }}</span>
                        </li>
                        <li id="modflowModelGridSize" class="list-group-item" {{
                        'hidden' if not metadata.modflow_metadata }}>
                        <span class="slice-column left">Grid Size</span>
                        <span id="modflowModelGridSizeContent" class="slice-column right">{{ metadata.modflow_metadata.rows if metadata.modflow_metadata }} cells x {{ metadata.modflow_metadata.cols if metadata.modflow_metadata }} cells</span>
                        </li>
                        <li id="modflowModelGridUnit" class="list-group-item" {{
                        'hidden' if not metadata.modflow_metadata }}>
                        <span class="slice-column left">Grid Unit</span>
                        <span id="modflowModelGridUnitContet" class="slice-column right">{{ metadata.modflow_metadata.grid_unit if metadata.modflow_metadata }}</span>
                        </li>
                        <li class="list-group-item" id="modflowUpload">
                            <div class="button-spacing">
                                <button id="modflowUploadBtn" type="button" class="btn btn-success left"
                                        onClick="openModflowDialog()">{{ 'Change' if metadata.modflow_metadata else
                                    'Upload' }}
                                </button>
                                <button id="modflowRemoveBtn" type="button" class="btn btn-danger right"
                                        {{
                                'hidden' if not metadata.modflow_metadata }}
                                onClick="deleteModflowModel('{{ metadata.project_id }}')">Remove</button>
                            </div>

                            <input type="file" id="modflowUploadInput" accept=".zip" hidden
                                   onchange="sendModflowModelAfterSelected('{{ metadata.project_id }}')">
                        </li>
                    </ul>
                </div>
                <div class="config-labels">
                    <h3 style="text-align: center">Hydrus models</h3>
                    <ul class="list-group list-group-flush" id="hydrusModelList">
                        {% for hydrus_id in metadata.hydrus_models %}
                        <li class="list-group-item row-entries" id="{{ hydrus_id }}">
                            <span class="slice-column left">
                                {{ hydrus_id }}
                                <span class="slice-column right">

                                </span>
                            </span>
                            <span class="slice-column right">
                                <span class="slice-column left">
                                    Weather model:
                                    <select id="{{ hydrus_id }}SelectWeather" class="custom-select" onclick="testPing()">
                                        <option id="{{ hydrus_id }}SelectNone" selected value=""> --- None ---</option>
                                    </select>
                                </span>

                                <button type="button" class="btn btn-danger right"
                                        onClick="deleteHydrus('{{ metadata.project_id }}', '{{ hydrus_id }}')">Remove</button>
                            </span>
                        </li>
                        {% endfor %}
                        <li class="list-group-item" id="hydrusUpload">
                            <span class="d-flex justify-content-center">
                                <button type="button" class="btn btn-success right"
                                        onClick="openHydrusDialog()">Upload</button>
                            </span>
                            <input type="file" id="hydrusUploadInput" accept=".zip" hidden
                                   onchange="sendHydrusModelAfterSelected('{{ metadata.project_id }}')">
                        </li>
                    </ul>
                </div>
                <div class="config-labels">
                    <h3 style="text-align: center">Weather files</h3>
                    <ul class="list-group list-group-flush" id="weatherFileList">
                        {% for weather_id in metadata.weather_files %}
                        <li class="list-group-item" id="{{ weather_id }}">
                            <span class="slice-column left">{{ weather_id }}</span>
                            <span class="slice-column right">
                                <button type="button" class="btn btn-danger right"
                                        onClick="deleteWeatherFile('{{ metadata.project_id }}', '{{ weather_id }}')">Remove</button>
                            </span>
                        </li>
                        {% endfor %}
                        <li class="list-group-item" id="weatherUpload">
                            <span class="d-flex justify-content-center">
                                <button type="button" class="btn btn-success right" onClick="openWeatherFileDialog()">Upload</button>
                            </span>
                            <input type="file" id="weatherFileUploadInput" accept=".csv" hidden
                                   onchange="sendWeatherFileAfterSelected('{{ metadata.project_id }}')">
                        </li>
                    </ul>
                </div>
                <div class="config-labels">
                    <h3 style="text-align: center">Shapes</h3>
                    <ul class="list-group list-group-flush">
                        {% for shape_id, color in metadata.shapes.items() %}
                        <li class="list-group-item" id="{{ shape_id }}">
                            <div class="slice-column left">
                                <div class="slice-column left">{{ shape_id }}</div>
                                <div class="slice-column left">
                                    <div id="{{ shape_id }}Color" class="slice-column left"
                                         style="text-align:center;width:25px;height:25px;background-color:{{ color }};"></div>
                                </div>
                            </div>
                            <span class="slice-column right">
                                <button type="button" class="btn btn-danger right"
                                        onClick="deleteShape('{{ metadata.project_id }}', '{{ weather_id }}')">Remove</button>
                                <button type="button" class="btn btn-secondary right"
                                        onClick="editShape('{{ metadata.project_id }}', '{{ weather_id }}')">Edit</button>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container mt-5">
        <div class="row justify-content-md-center">

            <div class="row-lg-9">
                <hr class="my-4">
                <div class="text-center">
                    <h3 class="display-4">Upload files</h3>
                    <p class="lead">Drop here Hydrus and Modflow models as well as weather .csv files</p>
                </div>

                <div class="container" style="background: white; padding: 2em; border-radius: 5px;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Upload Files</strong></div>
                        <div class="panel-body">

                            <!-- Drop Zone -->
                            <h6>Drag and drop files below</b>.</h6>
                            <div class="upload-drop-zone" id="drop-zone-modflow">
                                Just drag and drop files here
                            </div>
                        </div>
                    </div>
                </div> <!-- /container -->
            </div>
        </div>
    </div>
</div>


<div class="container mt-5" id="define-method-content">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="text-center">
                <h1 class="display-4">Select method for defining shapes</h1>
            </div>
        </div>

    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-4">
            <div class="card card-display">
                <div class="card-body">
                    <h4 class="card-title">Recharge RCH</h4>
                    <p class="card-text">This method of defining shapes is prepared from recharge file. In this
                        option
                        you will be able to link Hydrus models to the detected zones.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary right" onclick="rchShapes({{ project_id }})">Generate
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-display">
                <div class="card-body">
                    <h4 class="card-title">Define shapes manually</h4>
                    <p class="card-text">In this option you will be able to link Hydrus models to the selected
                        shapes.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary right"
                            onclick="manualShape({{ project_id }}, null, null)">Create new shape
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-9">
        </div>
    </div>
</div>

<div class="container mt-5" id="define-shapes-content">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="text-center">
                <h1 class="display-4">Select the fields covered by this Hydrus model</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2-auto mx-2"><h4>Brush Size</h4></div>
        <div class="col-2-auto">
            <select id="brush-size" class="form-control form-control-sm">
                <option selected value="0">1x1</option>
                <option value="1">3x3</option>
                <option value="2">5x5</option>
                <option value="3">7x7</option>
                <option value="4">9x9</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <strong>Hydrus model: Sample Hydrus model</strong>
    </div>

    <div class="row justify-content-center my-2">
        <div class="col-2-auto mx-2">
            <table class="table tab-manual table-sm" id="model-mesh" style="width: 500px">
                <tbody>
                {% if metadata.modflow_metadata %}
                {% for row in range(metadata.modflow_metadata.rows) %}
                <tr class="cell-row"
                    style="height: {{ metadata.modflow_metadata.row_cells[row] }}px !important; padding:0 !important;">
                    {% for col in range(metadata.modflow_metadata.cols) %}
                    <td class="cell border border-1" id="{{ 'cell_' + row|string + '_' + col|string }}"
                        style="width: {{ metadata.modflow_metadata.col_cells[col] }}px !important; padding:0 !important;">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-5" id="simulation-content">
    <div class="row justify-content-md-center">

        <div class="col-lg-9">
            <div class="text-center">
                <h1 class="display-4">Your simulation is ready to be started!</h1>
                <p class="lead">Click "Run" once you're ready to start it.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-9">
                <span class="slice-column right" style="padding: 50px 15px;">
                    <button type="button" id="start-simulation" class="btn btn-primary right" href=""> Run </button>
                </span>
        </div>
    </div>
</div> <!-- container -->

<div class="container my-5 justify-content-center">
    <div class="row justify-content-center text-secondary" hidden id="hydrus-calc">
        <div class="col-7-auto ">
            <div class="spinner-border" id="hydrus-spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" id="hydrus-tick" hidden width="25" height="25"
                 fill="currentColor"
                 class="bi bi-check"
                 viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
            <svg height="25" width="25" id="hydrus-x" hidden>
                <line x1="7" y1="7" x2="18" y2="18" style="stroke:rgb(255,0,0); stroke-width:2"/>
                <line x1="18" y1="7" x2="7" y2="18" style="stroke:rgb(255,0,0); stroke-width:2"/>
            </svg>
            Calculating Hydrus-1d models.
        </div>
    </div>
    <div class="row justify-content-center text-secondary" hidden id="passing-calc">
        <div class="col-7-auto ">
            <div class="spinner-border" id="passing-spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" hidden id="passing-tick" width="25" height="25"
                 fill="currentColor"
                 class="bi bi-check"
                 viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
            <svg height="25" width="25" id="passing-x" hidden>
                <line x1="7" y1="7" x2="18" y2="18" style="stroke:rgb(255,0,0); stroke-width:2"/>
                <line x1="18" y1="7" x2="7" y2="18" style="stroke:rgb(255,0,0); stroke-width:2"/>
            </svg>
            Passing Hydrus-1d result to Modflow model.
        </div>
    </div>
    <div class="row justify-content-center text-secondary" hidden id="modflow-calc">
        <div class="col-7-auto ">
            <div class="spinner-border" id="modflow-spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" hidden id="modflow-tick" width="25" height="25"
                 fill="currentColor"
                 class="bi bi-check"
                 viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
            <svg height="25" width="25" id="modflow-x" hidden>
                <line x1="7" y1="7" x2="18" y2="18" style="stroke:rgb(255,0,0); stroke-width:2"/>
                <line x1="18" y1="7" x2="7" y2="18" style="stroke:rgb(255,0,0); stroke-width:2"/>
            </svg>
            Calculating Modflow model.
        </div>
    </div>
    <div class="row justify-content-center">
        <a type="button" id="download" hidden class="btn btn-success mx-5 my-2"
           href="{{ url_for('projects.project_download', project_id=project_id) }}">Download Results</a>
    </div>

</div>

<!--modals-->
{% include 'createShapeModal.html' %}


{% endblock %}
