<div class="modal fade" id="modalRenameProject" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rename project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Project name should not have special symbols and underscores.
                Preferably it should consist of words-split-with-hyphens (e.g project-name).

                <form id="form-create-project" style="align: bottom">
                    <div class="form-group" style="text-align: left">
                        <label for="renameProjectField"><strong>Enter project name</strong></label>
                        <input type="text" class="right form-control form-control-sm" id="renameProjectField"
                               placeholder="New project name" style="width: 60%" pattern="[a-zA-Z0-9- ]{1,20}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button id="confirmCreateShape" type="button" class="btn btn-success" data-dismiss="modal"
                        onclick="submitNewProjectName('{{ metadata.project_id }}')">
                    Rename project
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHelpModflow" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modflow model section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>&emsp;Uploaded models must be in .zip format and have all the files directly inside the archive (not in a folder).
                    Models' names must be unique in the project.</p>
                <strong>Modflow model</strong> - name of uploaded Modflow model (filled after upload)<br>
                <strong>Grid size</strong> - size of model's rectangular grid (filled after upload)<br>
                <strong>Grid length unit</strong> - length unit used in determining model's grid size (filled after upload)<br>
                <strong>Model duration</strong> - Modflow simulation duration in days (filled after upload)<br>
                <strong>Start date</strong> - start date of Modflow simulation (filled if provided in model, can be edited manually)<br>
                <strong>End date</strong> - end date of Modflow (automatically calculated by adding model duration to start date)<br>
                <strong>Latitude</strong> - latitude of upper left corner of the model in Decimal Degrees format (edited manually)<br>
                <strong>Longitude</strong> - longitude of upper left corner of the model in Decimal Degrees format (edited manually)<br>
                <br>
                <strong>Edit configuration</strong> - activate edit mode to change manually edited fields<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHelpHydrus" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hydrus models section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>&emsp;
                    <strong>Spin-up</strong> - spin-up period of Hydrus simulations in days (edited manually)<br>
                </p>
                <p>&emsp;
                    Uploaded models must be in .zip format and have all the files directly inside the archive (not in a folder).
                    Models' names must be unique in the project.
                </p>
                <p>&emsp;After uploading Hydrus model, one may choose to overwrite Hydrus simulation parameters in Atmosph.in and Meteo.in files with Weather files.
                The changes are applied only for the period of simulation (uploaded models remain unaffected by the application of Weather files).</p>
                Overwritten parameters include following Hydrus parameters:
                <ul>
                    <li>latitude (Latitude, file: Meteo.in)</li>
                    <li>elevation (Altitude, file: Meteo.in)</li>
                    <li>solar radiation (Rad, file: Meteo.in)</li>
                    <li>max temperature during day (TMax, file: Meteo.in)</li>
                    <li>min temperature during day (TMin, file: Meteo.in)</li>
                    <li>relative humidity (RHMean, file: Meteo.in)</li>
                    <li>wind (Wind, file: Meteo.in)</li>
                    <li>precipitation (Prec, file: Atmposh.in)</li>
                </ul>
                The details of Weather files are described in help section for Weather files.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHelpWeather" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Weather files section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>&emsp;In order to overwrite input parameters for Hydrus simulation, one can upload custom .csv Weather file.
                After uploading Weather file they are added to this list and can be selected in a select box in the Hydrus section.
                Uploaded Weather files must have their names unique in the project.
                </p>
                <p>&emsp;For the modification to succeed, the uploaded weather data file must contain <strong>at least
                as many</strong> daily records as the Hydrus model you want to modify. The file can be longer than the
                model - if that is the case, the model will be updated with the first rows of the uploaded file, and the
                remaining rows will be ignored.
                </p>

                Overwriting has the following rules (SWAT format):
                <ul>
                    <li>Column "Latitude" (required) overwrites latitude (Latitude, file: Meteo.in)</li>
                    <li>Column "Elevation" (required) overwrites elevation (Altitude, file: Meteo.in)</li>
                    <li>Column "Solar" (optional, MJ/m^2) overwrites solar radiation (Rad, file: Meteo.in)</li>
                    <li>Column "Max Temperature" (optional, deg. C) overwrites max temperature during day (TMax, file: Meteo.in)</li>
                    <li>Column "Min Temperature" (optional, deg. C) overwrites min temperature during day (TMin, file: Meteo.in)</li>
                    <li>Column "Relative Humidity" (optional, value from 0 to 1) overwrites relative humidity (RHMean, file: Meteo.in)</li>
                    <li>Column "Wind" (optional, m/s) overwrites wind (Wind, file: Meteo.in)</li>
                    <li>Column "Precipitation" (optional, mm) overwrites precipitation (Prec, file: Atmposh.in)</li>
                </ul>


                <p>&emsp;Currently only SWAT format Weather files are supported.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHelpShapes" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Shapes section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Generate RCH shapes</strong> - add to the model shapes based on .rch file in Modflow model (all fields with equal adjacent recharge value are grouped into shapes)<br>
                <strong>Upload ZoneBudget shapes</strong> - add to the model shapes created with ZoneBudget (.zb_zones)<br>
                <br>
                <p>
                    &emsp;Shapes are used to apply Hydrus models' recharge values to the selected part of Modflow model grid.
                    Shapes must have their names unique in the project.
                    In order to edit a shape, one must click on the "Edit" button - this activates the Edit mode. When the Modflow model is present,
                    one shape is added by default to show inactive cells (based on IBOUND array from .bas package).
                </p>

                <p>&emsp;In the edit mode user may change the color of the shape or assign a Hydrus model to it
                (or enter manually the recharge value that should be applied on this shape). The shapes should be mutually exclusive.
                    Currently there is no possibility to manually draw shapes in the application.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHelpGrid" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modflow model grid section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>&emsp;The grid is used to preview and change shapes used in the project.</p>
                <p>&emsp;The shapes shown on the grid may be a little distorted due to approximation while drawing in order to speed up the process in the browsers.
                    The main purpose of this preview is to provide user with orientation while configuring the Hydrus models and their shapes before starting the simulation.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHelpSimulation" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Simulation section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>&emsp;There are two possible simulation modes:</p>
                    <ul>
                       <li><strong>Simple coupling (no feedback loop)</strong> - default simulation mode, where Hydrus models
                           are simulated first and then the recharge is transferred to the Modflow model. Then the Modflow simulation occurs.</li>
                        <li><strong>Feedback loop</strong> - simulation mode, where for each step in the Modflow model a
                            custom Hydrus simulation is carried out. During the process feedback is performed as follows:
                            <ul>
                                <li>transferring recharge from the Hydrus models to the Modflow model</li>
                                <li>transferring water depth from the Modflow model to the Hydrus models as average terrain height minus average water level (for each shape) </li>
                            </ul>
                        </li>
                    </ul>


                <p>&emsp;The simulation steps will be shown as soon as the simulation is started by pressing the button.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>