{% extends 'base.html' %}

{% block head %}
<title>HMSE</title>
<link rel="stylesheet" href="/static/css/home.css">
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">-->
<link rel="stylesheet" href="/static/css/tinycolorpicker.css" type="text/css" media="screen"/>
<style>
  #draggable, #draggable2 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
</style>
<script type="text/javascript" src="static/js/tinycolorpicker/jquery.tinycolorpicker.js"></script>
<script>
  $( function() {

    findHydrusElement = function(htmlElements) {
        for (let elem of htmlElements) {
            if (elem.id && /draggableHydrusModel*/.test(elem.id)) {
                return elem.id;
            }
        }
        return null;
    }

    shouldRevert = function() {
        const elem = document.getElementById("draggableMask");
        const x = elem.offsetLeft + elem.offsetWidth / 2, y = elem.offsetTop + elem.offsetHeight / 2;
        const htmlElements = document.elementsFromPoint(x, y);
        return findHydrusElement(htmlElements) === null;
    }

    $( "#draggableMask" ).draggable({
        containment: "parent",
        revert: shouldRevert,
        stop: function(event, ui) {
            const x = ui.helper.offset().left + ui.helper.width() / 2,
                    y = ui.helper.offset().top + ui.helper.height() / 2;

            const hydrusElement = findHydrusElement(document.elementsFromPoint(x, y));
            if (hydrusElement !== null) {
                $("#draggableMask").appendTo(hydrusElement);
            }
        }
    });

    $( "#draggableHydrusModel" ).draggable({
        containment: "parent",
        helper: "clone",
        stop: function(event, ui) {
            const x = ui.position.left + ui.helper.width() / 2, y = ui.position.top + ui.helper.height() / 2;
        }});
   } );
</script>

<script type="text/javascript">
		$(document).ready(function()
        {
			var $box = $('#colorPicker');
            $box.tinycolorpicker();
		});
	</script>
{% endblock %}

{% block home_active %}active{%endblock%}

{% block body %}
<div class="container mt-5" id="configuration-content">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="text-center">
                <h1 class="display-4">Hydrus-Modflow Synergy Engine</h1>
                <h2>an easy way to configure Hydrus-Modflow integration</h2>
                <p class="lead">click "Create Project" to configure a new simulation</p>
            </div>
        </div>
    </div>
<div>
<div class="row justify-content-center my-4">
    <div class="col-2-auto mx-2"><h4>Brush Size</h4></div>
    <div>

        <div id="draggableMask" class="ui-widget-content">
          <p>Mask</p>
        </div>

        <div id="draggableHydrusModel" class="ui-widget-content">
          <h1>Hydrus Model</h1>
            <div id="maskStorage" class="justify-content-center my-4"></div>
            <p>cos</p>
        </div>

        <div id="colorPicker">
            <a class="color"><div class="colorInner"></div></a>
            <div class="track"></div>
            <ul class="dropdown"><li></li></ul>
            <input type="hidden" class="colorInput"/>
        </div>

        <div id="tileTest" class="ui-widget-content">
            <p>Test</p>
        </div>
    </div>
</div>


</div>
{% endblock %}