.slice-column {
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.row-entries {
    vertical-align: middle;
}

.toast-exit {
    padding: 5px;
}

.hmse-footer {
	position: fixed;
	right: 0;
	left: 0;
   	bottom: 0;
}
